body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
}

#wrapper
{
    width: 960px;
    margin: 0px auto;
}

table
{
    width: 100%;
    border: none;
}

th
{
    text-align: left;
    background-color: #333;
    color: #fff;
    padding: 5px;
}

td
{
    padding: 5px;
    background-color: #f2f2f2;
}

.alt { background-color: #ADD8E6; }